* {
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
}

::placeholder {
	font-size: 16px;
}

.container {
	width: 480px;
	background-color: white;
	padding: 20px;
	border: 2px solid gray;
	border-radius: 15px;
	margin: 10px;
}

.container h1,
h2,
p,
button {
	margin: 10px 0 10px 0;
}

.destroy-button {
	margin-left: 10px;
	color: red;
	width: 40px;
	height: 40px;
	border-color: red;
}

.list-view {
	display: flex;
	align-items: flex-start;
	justify-content: flex-start;
	overflow: scroll;
}

.list-create-container {
	width: 300px;
}

.list-create-container input {
	width: 250px;
}

.push {
	margin-left: auto;
}

.task-container {
	width: 314px;
	padding: 15px 10px 15px 10px;
	border: 2px solid gray;
	border-radius: 10px;
	margin: 10px 0 10px 0;
	word-wrap: break-word;
}

.task-create-button {
	color: green;
	border-color: green;
}

a {
	text-decoration: none;
	color: white;
}

a:hover {
	text-decoration: underline;
}

button {
	font-size: 18px;
	border-radius: 10px;
	padding: 10px;
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #235789;
	color: white;
	font-size: 20px;
	height: 5vh;
}

input {
	padding: 10px;
	margin-bottom: 5px;
	border-radius: 10px;
	font-size: 20px;
}

input:focus {
	outline: none;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: lightgray;
	font-size: 20px;
	height: 85vh;
}

nav {
	display: flex;
	align-items: center;
	background-color: #235789;
	font-size: 20px;
	height: 10vh;
}

nav h1 {
	display: block;
	margin-left: auto;
	margin-right: 0;
	padding-left: 72px;
	color: white;
	font-size: 48px;
}

#auth-buttons-container {
	text-align: right;
}

#index-button {
	margin: 0 10px 0 10px;
}

#get-started-button {
	margin: 20px 0 0 0;
}

#github-link {
	margin: 0 0 0 5px;
}

#login-button {
	margin: 0 5px 0 10px;
}

#logout-button {
	margin: 0 10px 0 0;
}

#signup-button {
	margin: 0 10px 0 5px;
}
